# Exclude any compile Python files (most likely grafted by tests/ directory).
global-exclude *.pyc

# Informational files
include *.txt
include LICENSE

# Including docs and tests. It's unclear whether convention dictates
# including built docs. However, Sphinx doesn't include built docs, so
# we are following their lead.
graft docs
prune docs/build
graft tests

# Setup-related things
include setup.py

# Templates
graft infinitystone/ui/templates
graft infinitystone/templates

# Static
graft infinitystone/ui/static
graft infinitystone/static

# Other
recursive-include infinitystone *.json
recursive-include infinitystone *.ini

# NO-CYTHON PACKAGES
recursive-exclude infinitystone *.c
recursive-exclude infinitystone *.so
