{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" data-no-submit autocomplete="off" method='post' enctype="multipart/form-data">
        <label for="update_parent">Parent</label>
        <select id="update_parent" name="parent_id" data-id="id" data-url="/v1/elements/parents" data-allow-clear data-placeholder="Select Parent">
            <option value=""></option>
            {% if parent %}
                <option value="{{parent_id}}" selected>{{parent}}</option>
            {% endif %}
        </select>
        {{ form }}
    </form>
    <table class="display" data-url="/v1/element/{{id}}&view=attributes" width="100%">
        <thead>
            <th id='classification'>Classifications</th>
            <th data-href="/infrastructure/elements/edit/{{id}}" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </thead>
    </table>
    <form id='attr_form' autocomplete="off" data-datatable action="{{ APP }}/infrastructure/elements/{{id}}/attributes" enctype="multipart/form-data" class="row">
        <div class="col-sm-3">
             <select id="add_attr" name="classification" data-id="name" data-placeholder="Select classification">
                 {% for c in classifications %}
                     <option name="{{ c }}">{{ c }}</option>
                 {%  endfor %}
            </select>
        </div>
        <div class="col-sm-3">
            <a href="{{ APP }}/infrastructure/elements/{{id}}/attributes" data-form="attr_form" class="btn btn-success">Add Classification</a>
        </div>
    </form>
    <hr>
    <table class="display" data-url="/v1/element/{{id}}&view=interfaces" width="100%">
        <thead>
            <th id='interface'>Element Interface</th>
            <th data-modal data-href="/infrastructure/interfaces/edit/{{id}}" width="2rem">
                <span data-feather="edit"></span>
            </th>
        </thead>
    </table>
    <form id='interface_form' autocomplete="off" data-datatable action="{{ APP }}/infrastructure/elements/{{id}}/interface" enctype="multipart/form-data" class="row">
        <div class="col-sm-3">
             <select id="add_interface" name="interface" data-id="name" data-url="/v1/interfaces" data-placeholder="Select Interface">
            </select>
        </div>
        <div class="col-sm-3">
            <a href="{{ APP }}/infrastructure/elements/{{id}}/interface" data-form="interface_form" class="btn btn-success">Add Interface</a>
        </div>
    </form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/infrastructure/elements/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete element {{name}}?" data-table data-close-windows="2" href="{{ APP }}/infrastructure/elements/delete/{{id}}" class="btn btn-danger">Remove</a>
    <a href="{{ APP }}/infrastructure/elements/edit/{{id}}" data-table data-form="form" class="btn btn-primary">Save</a>
{% endblock %}
