{% extends "photonic/view.html" %}
{% block content %}
<table class="display" data-endpoint='identity' data-url="/v1/groups" width="100%">
    <thead>
        <tr>
            <th id='name'>Name</th>
            <th data-href="/infrastructure/authentication/virtual" data-modal width="2rem">
                <span data-feather="edit"></span>
            </th>
        </tr>
    </thead>
</table>
{% endblock %}
{% block buttons %}
<a class="btn btn-primary" data-modal href="{{APP}}/infrastructure/authentication/virtual/add">Add Virtual</a>
{% endblock %}
