{% extends "photonic/view.html" %}
{% block content %}
<form method='post' enctype="multipart/form-data" disabled>
    {{ form }}
</form>
<table class="display" data-endpoint='identity' data-url="/v1/virtual/{{id}}/nas" width="100%">
    <thead>
        <tr>
            <th id='name'>Name</th>
            <th id='server'>Server</th>
            <th id='nas_type'>Type</th>
            <th id='secret'>Secret</th>
        </tr>
    </thead>
</table>
{% endblock %}

{% block buttons %}
    <a href="#" onclick="close_window();" class="btn btn-default">Back</a>
    <a href="{{ APP }}/infrastructure/authentication/virtual/edit/{{id}}" class="btn btn-primary">Edit</a>
{% endblock %}
