{% extends "photonic/view.html" %}

{% block content %}
    <form data-no-submit id="form" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/accounts/tenants/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Remove tenant {{name}}?" data-table data-close-windows="2" href="{{ APP }}/accounts/tenants/delete/{{id}}" class="btn btn-danger">Remove</a>
    <a href="{{ APP }}/accounts/tenants/edit/{{id}}" data-table data-form="form" class="btn btn-primary">Save</a>
{% endblock %}
