{% extends "photonic/view.html" %}

{% block content %}
    <form id="form" autocomplete="off" method='post' enctype="multipart/form-data">
        {{ form }}
    </form>
	<H2>Atrribute Value Pairs</H2>
    <table class="display" data-endpoint='identity' data-url="/v1/user_attrs/{{id}}" width="100%">
        <thead>
            <tr>
                <th id='attribute'>Attribute</th>
                <th id='op'>Operation</th>
                <th id='value'>Value</th>
                <th id='ctx'>Context</th>
				<th data-confirm="Remove attribute value pair from user?" data-href="/accounts/subscribers/rm_attr/{{id}}" data-close width="2rem">
					<span data-feather="minus-square"></span>
				</th>
            </tr>
        </thead>
    </table>
	<form class="row" autocomplete="off" data-msg="Succesfully added AVP" data-datatable action="{{APP}}/accounts/subscribers/add_attr/{{id}}" enctype="multipart/form-data" class="row">
		 <div class="col-sm-3">
			 <select name="attribute" class="form-control" data-endpoint="identity" data-url="/v1/avps">
			 </select>              
		 </div>
		 <div class="col-sm-2">
			 <select name="op" class="form-control">
				<option value="=">=</option>
				<option value="+=">+=</option>
			</select>
		 </div>
		 <div class="col-sm-3">
			<input class="form-control" type="text" name="value" placeholder="Value">
		 </div>
		 <div class="col-sm-2">
			 <select name="ctx" class="form-control">
				<option value="reply">Reply</option>
				<option value="check">Check</option>
			</select>
		 </div>
		 <div class="col-sm-2">
			  <input class="form-control btn btn-danger" type="submit" value="Add AVP" >
		 </div>
	</form>
	<H2>Groups</H2>
    <table class="display" data-endpoint='identity' data-url="/v1/user_groups/{{id}}" width="100%">
        <thead>
            <tr>
                <th id='name'>Group</th>
                <th id='priority'>Priority</th>
				<th data-confirm="Remove group from user?" data-href="/accounts/subscribers/rm_group/{{id}}" data-close width="2rem">
					<span data-feather="minus-square"></span>
				</th>
            </tr>
        </thead>
    </table>
	<form class="row" autocomplete="off" data-msg="Succesfully added group to user" data-datatable action="{{APP}}/accounts/subscribers/add_group/{{id}}" enctype="multipart/form-data" class="row">
		 <div class="col-sm-2">
			 <select name="group_id" class="form-control" data-url="/v1/groups">
			</select>
		 </div>
		 <div class="col-sm-2">
			<input class="form-control" type="text" name="priority" placeholder="Priority">
		 </div>
		 <div class="col-sm-2">
			  <input class="form-control btn btn-danger" type="submit" value="Add Group" >
		 </div>
	</form>
{% endblock %}

{% block buttons %}
    <a href="{{ APP }}/accounts/subscribers/{{id}}" class="btn btn-default">Cancel</a>
    <a data-confirm="Delete subscriber?" data-closeall href="{{ APP }}/accounts/subscribers/delete/{{id}}" class="btn btn-danger">Delete</a>
    <a href="{{ APP }}/accounts/subscribers/edit/{{id}}" data-form="form" class="btn btn-primary">Update</a>
{% endblock %}
